*{
margin: 0px;
padding: 0px;
box-sizing: border-box;

}


.container1 img{
   /* display: inline-block;  */
   width: 50px;
   height: 33px;
   margin-left: 1px;
   background-color: white;
   /* margin-top: 10px; */
   
}

.container1{
    background-color: rgba(0, 0, 0, 0.9);
    display: flex;
    justify-content: center;
    gap: 20px;
    position: sticky;
    top: 0px;
}

.container1 span{
    
    margin-top: 10px;
    text-decoration: none;
    gap: 10px;
    
}
.container1 span a{
    text-decoration: none;
    padding: 5px;
    color: white;
}
.container1 span a img{
    height: 15px;
    width:15px;
}
.box1 h1{
    font-weight: bold;
    text-align: center;
    font-size: 75px;
    color: white;
    padding-top: 40px;
}
.box1 h3{
    text-align: center;
    font-size:39px ;
    color: white;
}
.box1 {
    background-image:url(../../Downloads/image2.jpg) ;
    background-position:center ;
    background-repeat: no-repeat;
    background-size: cover;
    /* width: 1263px; */
    height: 700px;
}
.butt1{
    /* position: absolute; */
    /* left: 500px; */
    border:1px solid blue;
     color:white;
     background-color: blue;
     font-size: 20px;
     border-radius: 25px;
     padding-left: 18px;
     padding-right: 18px;
     padding-top: 10px;
     padding-bottom: 10px;
     margin-top: 15px;
     cursor: pointer;
}
.butt2:hover{
    background-color: blue;
    color: white;
}
.butt2{
     /* position: absolute; */
    /* left: 670px; */
    border: 1px solid blue;
     color:white;
     background-color: black;
     font-size: 20px;
     border-radius:25px ;
     padding-bottom:10px ;
     padding-right: 18px;
     padding-top:10px ;
     padding-left: 18px;
     margin-top: 15px;
     cursor: pointer;
}
.but22{
    display: flex;
    justify-content: center;
    gap: 20px;
}
.but20{
    display: flex;
    justify-content: center;
    gap: 15px;
}
.box2 h1{
    text-align: center;
    font-weight: bold;
    font-size: 45px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin-top: 15px;
    padding-top: 24px;

}
.box2 h3{
    text-align: center;
    font-size: xx-large;
    
}
.box2 h2{
    text-align: center;
    font-size: x-large;
    
}
.box2{
    background-image:url(../../Documents/hero_iphone_air__0gxyavihpiqu_large_2x.jpg) ;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 580px;
}
.butt4{
     /* position: absolute; */
    /* left: 670px; */
    border: 1px solid blue;
     color:blue;
     background-color: white;
     font-size: 20px;
     border-radius:25px ;
     padding-bottom:10px ;
     padding-right: 18px;
     padding-top:10px ;
     padding-left: 18px;
     margin-top: 14px;
     cursor: pointer;
}
.butt4:hover{
    background-color: blue;
    color: white;
}
.butt3{
    /* position: absolute; */
    /* left: 500px; */
    border:1px solid blue;
     color:white;
     background-color: blue;
     font-size: 20px;
     border-radius: 25px;
     padding-left: 18px;
     padding-right: 18px;
     padding-top: 10px;
     padding-bottom: 10px;
     margin-top: 14px;
     cursor: pointer;
}

.but21{
     display: flex;
    justify-content: center;
    gap: 15px;
}
.box3 h1{
    text-align: center;
    font-weight: bold;
    font-size: 50px;
    color:white ;
    margin-top: 15px;
    padding-top: 26px;
}
.box3 h2{
    text-align: center;
    color: white;
    font-size: 30px;
}
.box3{
    background-image:url(../../Documents/hero_macbook_pro_m5__fjgmapbkxo2u_large_2x.jpg) ;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 600px;
}
    
    
    

.box4 img{
     width: 50px;
   height: 33px;
   background-color: white;
   
   color: white;
   
}
.box4 h1{
    display: inline-block;
     font-weight: bold;
     font-size: 40px;
    
    }
.kasi{
    text-align: center;
    margin-top: 44px;
}
.box4 h2{
    text-align: center;
    
    
}
.box4{
    background-image:url(../../Documents/promo_apple_watch_series_11__b63hxviqvonm_large_2x.jpg);
     background-repeat: no-repeat;
     background-size: cover;
     height: 500px;
     width: 50%;
  
     background-position: center;
     
    
    

     

}
.butt5{
     
    
    border: 1px solid blue;
     color:white;
     background-color:blue;
     font-size: 20px;
     border-radius:25px ;
     padding-bottom:10px ;
     padding-right: 18px;
     padding-top:10px ;
     padding-left: 18px;
     margin-top: 20px;
     cursor: pointer;
     margin-right: 15px;

}
.butt5:hover{
    background-color: blue;
    color: white;
}
.butt6{

    
    border: 1px solid blue;
     color:blue;
     background-color:white;
     font-size: 20px;
     border-radius:25px ;
     padding-bottom:10px ;
     padding-right: 18px;
     padding-top:10px ;
     padding-left: 18px;
     cursor: pointer;


}
.butt6:hover{
    background-color: blue;
    color: white;
}
.box4 div h1{
font-weight: bold;
color: black;


}
.mehm1{
background-image:url(../../Documents/promo_ipad_pro__c529dk533k4m_large_2x.jpg);
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;
   width: 50%;
   padding-top: 24px;
}
.box5{
    display: flex;
    justify-content: space-around;
}
.but1{
    width: 250px;
    margin: 0 auto;

}
.mem2 h1{
 color: white;
 text-align: center;
 font-weight: bold;
 font-size: 60px;
 font-weight:bold ;
 color: black;
 margin-top: 15px;
}
.mem2 h2{
    color: white;
    text-align: center;
    font-size: x-large;
    color: black;
    
}
.mem3{

    background-image: url(../../Documents/promo_airpodspro_3__f6xmza7bglei_large_2x.jpg);
    background-position: center;
    background-repeat:no-repeat ;
    background-size: cover;
    width:50%;
    height: 600px;
    
}
.mehm2{
    text-align: center;
}
.box5{
    margin-top: 20px;
}
.mem2{
    margin-top: 20px;
}
.mem2{
    display: flex;
    justify-content: space-around;
    
    
    
    
}
.position{
    background-image: url(../../Documents/promo_macos_continuity__ghk221sska2q_large_2x.jpg);
     background-position: center;
     background-size: cover;
     background-repeat: no-repeat;
     width: 50%;
     height: 600px;
     margin-left: 15px;
     padding-top: 24px;
}
.mehm1{
    color: white;
    margin-left: 15px;
    text-align: center;
    
}
.butt7 {
 border: 1px solid blue;
     color:blue;
     background-color:black;
     font-size: 20px;
     border-radius:25px ;
     padding-bottom:10px ;
     padding-right: 18px;
     padding-top:10px ;
     padding-left: 18px;
     cursor: pointer;
}
.butt7:hover{
      background-color: blue;
    color: white;
}
.position h1{
    font-size: 36px;
    margin-top: 15px;
}
.butt8{
    border: 1px solid blue;
     color:white;
     background-color:blue;
     font-size: 20px;
     border-radius:25px ;
     padding-bottom:10px ;
     padding-right: 18px;
     padding-top:10px ;
     padding-left: 18px;
     cursor: pointer;
     margin-left: 225px;
     margin-top: 15px;

}
.mem5{
    background-image: url(../../Documents/promo_iphone_tradein__bugw15ka691e_large_2x.jpg);
           background-position: center;
           background-repeat: no-repeat;
           background-size: cover;
           width: 50%;
           height: 600px;
           margin-top: 15PX;
}
.mem5 img{
     width: 50px;
   height: 33px;
  /* display: flex; */
   /* margin-left: 200px; */
   /* justify-content: center; */
   /* margin-top: 20px; */
   
   

}
.mem5 h1{
    text-align: center;
    font-size:x-large ;

}
.image1{
    justify-content: center;
    display: flex;
    align-items: center;
    padding-top: 35px;
    
    
}
.image1 span{
    font-size: 40px;
    font-weight: bold;

}
.mem5 {
    text-align: center;
}
.mem10{
    background-image: url(../../Documents/promo_apple_card__5cm7draujpey_large_2x.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 50%;
    height: 600px;
    margin-top: 15px;
    margin-left: 15px;
}
.position2{
    display: flex;
    justify-content: space-around;
}
.mem10 span{
    text-align: center;
    font-weight:bold ;
    font-size: xx-large;

}
.mem10 h1{
    text-align: center;
    font-size: x-large;
}
.image2 span{
  font-size: 40px;
    font-weight: bold;

}
.image2{
        justify-content: center;
    display: flex;
    align-items: center;
    padding-top: 35px;
    
}
.mem10 img{
 width: 50px;
   height: 33px;
   
}
.butt14{
   
    
     color:white;
     border: 1px solid blue;
     background-color: blue;
     font-size: 20px;
     border-radius:25px ;
     padding-bottom:10px ;
     padding-right: 18px;
     padding-top:10px ;
     padding-left: 18px;
     cursor: pointer;
     /* display: flex; */
     /* justify-content:; */

}
.butt13{
    border: 1px solid blue;
     color:blue;
     background-color: white;
     font-size: 20px;
     border-radius:25px ;
     padding-bottom:10px ;
     padding-right: 18px;
     padding-top:10px ;
     padding-left: 18px;
     /* margin-top: 20px; */
     cursor: pointer;
     /* margin-right: 200px; */
}
.butt13:hover{
    background-color: blue;
    color: white;
}
.but12{
    display: flex;
    justify-content: center;
    margin-top: 15px;
    gap: 15px;
}
.orderlist{
    margin-left: 130px;
    list-style: none;
    margin-right: 130px;
    color: gray;
    margin-top: 60px;

}
.tum1{
    display: flex;
    justify-content: space-around;
    list-style: none;
    cursor: pointer;
    gap: 10px;
    margin-left: 100px;
    margin-right: 100px;
    color: grey;
    margin-top: 14px;
    
}
.tum1:hover{
    text-decoration: underline;
}
.li2{
    font-weight: bold;
    margin-top: 1px;
    color: black;
    font-size: medium;
    padding-top: 10px;
    padding-bottom: 10px;
}
.li3{
    font-weight: bold;
    margin-top: 12px;
     color: black;
     font-size: medium;
     padding-top: 10px;
     padding-bottom: 10px;
}.li4{
    font-weight: bold;
    margin-top: 12px;
     color: black;
     font-size: medium;
     margin-top: 10px;
     padding-top: 10px;
     padding-bottom: 10px;
}.li5{
    font-weight: bold;
         color: black;
         font-size: medium;
         padding-top: 10px;
         padding-top: 10px;
         padding-bottom: 10px;
}.li6{
    font-weight: bold;
    margin-top: 12px;
      color: black;
      font-size: medium;
      padding-top: 10px;
      padding-bottom: 10px;
}.li7{
    font-weight: bold;
     color: black;
     font-size: medium;
     padding-top: 10px;
      padding-bottom: 10px;
}.li8{
    font-weight: bold;
     color: black;
     font-size: medium;
          padding-top: 10px;
      padding-bottom: 10px;
}
.li9{
    font-weight: bold;
    color: black;
    font-size: medium;
     padding-top: 10px;
      padding-bottom: 10px;
}
.li11 ol li{
    margin-top: 1px;
    list-style: none;
}
.tum1 ol li{
    margin-top: 12px;
    list-style: none;
}
.li1{
    margin-right: 50px;
    color: black;
    font-weight: bold;
    font-size: medium;
         padding-top: 10px;
      padding-bottom: 10px;
}
.li20{
    font-weight: bold;
    margin-top: 12px;
    color: black;
    font-size: medium;
        padding-top: 10px;
      padding-bottom: 10px;
}
.span1{
    color: blue;
    cursor: pointer;
    text-decoration: underline;
}
.span2{
    color: blue;
    cursor: pointer;
    text-decoration: underline;
}
.span3{
    color: blue;
    cursor: pointer;
    text-decoration: underline;
}
.lastclass{
    margin-left: 100px;
    
    color: gray;
}

    


